# ================================================
#  Quiz Réunion — Variables d'environnement
#  Copier ce fichier en .env
# ================================================

# Serveur Express
PORT=3000
NODE_ENV=development

# Base de données MySQL — Laragon (par défaut)
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=quiz_reunion
